
{
    "semi": true,
    "printWidth": 120,
    "tabWidth": 4,
    "singleQuote": true,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "useTabs": false,
    "arrowParens": "always",
    "jsxSingleQuote": true,
    "trailingComma": "all"
}
